@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    font-size: 62.5% !important;
}

body{
    font-family: sans-serif;
}

/* NAVBAR  */

header.main{
   width: 100%;
   height: 10vh;
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
}
header.main nav{
    width: 70%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
}
header.main nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    flex: 1;
}
header.main nav ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}
header.main nav h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    color: white;
}
header.main nav h1 .sm{
    font-size: 1.2rem;
    font-weight: bold;
}
header.main nav h1 .lg{
    font-family: "Playwrite PE", cursive;
    font-size: 2rem;
}

header.main nav div{
    flex: 1;
    display: flex;
    justify-content: right;
    font-size: 2rem;
    gap: 1.2em;
}
header.main nav div a{
    color: white;
}

/* FOOTER  */

footer{
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer div.links{
    display: flex;
    width: 75%;
    margin: 70px auto;
    justify-content: space-between;
}
footer div.links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer div.links ul h1{
    font-family: "Wittgenstein", serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
footer div.links ul li a{
    /* font-family: "Playwrite PE", cursive; */
    text-decoration: none;
    color: rgb(174, 174, 174);
    font-size: 1.3rem;
    font-weight: bold;
}
footer div.copy{
    margin: 30px auto;
    text-align: center;
    color: #777;
    font-size: 1.5rem;
}
/* HERO SECTION  */

main.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../admin/img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
}

main.hero .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
main.hero .title .sm{
    font-size: 1.3rem;
    letter-spacing: 5px;
}
main.hero .title .lg{
    font-family: "Wittgenstein", serif;
    font-style: italic;
    font-size: 5.5rem;
    text-align: center;
}
main.hero p{
    font-size: 1.4rem;
    width: 50%;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

main.hero a{
    font-size: 1.2rem;
    border: 1.5px solid white;
    padding: 1.5em 2.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 250ms ease-in;
}
main.hero a:hover{
    background-color: white;
    color: black;
}


section.popular{
    width: 75%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.popular h2{
    font-family: "Wittgenstein", serif;
    font-size: 3rem;
    font-style: italic;
}

section.popular .container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
section.popular .card{
    display: flex;
    flex-direction: column;
    width: 23%;
    align-items: center;
    gap: 1rem;
    padding: 7px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}
section.popular .card:hover{
    /* border: 1px solid black; */
    border-radius: 5%;
    transform: scale(1.10);
}
section.popular .card .img{
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
}
section.popular .card img{
    width: 100%;
    height: auto;

}

section.popular .card .category{
    color: #999;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}
section.popular .card .title{
    font-family: "Wittgenstein", serif;
    letter-spacing: 1px;
    color: black;
}
section.popular .card .price{
    font-size: 1.4rem;
    color: #777;
}

section.feature-cate{
    width: 100%;
    height: 120vh;
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../admin/img/cate.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.feature-cate .container{
    width: 75%;
    /* margin: 50px auto; */
    display: flex;
    justify-content: right;
}
section.feature-cate .container .card{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
section.feature-cate .container .card img{
    width: 100%;
}
section.feature-cate .container .card h2{
    font-family: "Wittgenstein", serif;
    font-style: italic;
    font-size: 2.8rem;
    text-align: center;
    color: white;
}
section.feature-cate .container .card a{
    font-size: 1.1rem;
    border: 1.5px solid white;
    padding: 1em 2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 250ms ease-in;
}
section.feature-cate .container .card a:hover{
    background-color: white;
    color: black;
}

main.hero-shop{
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../admin/img/shop.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2em;
}
main.hero-shop h1{
    font-size: 5rem;
    font-family: "Wittgenstein", serif;
    letter-spacing: 2px;
}

section.shop form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section.shop form select{
    /* font-family: "Wittgenstein", serif; */
    font-weight: bold;
    color: #777;
    padding: 5px 15px;
    font-size: 1.6rem;
    outline: none;
    border: none;
    
}

section.single{
    height: 85vh;
    width: 75%;
    margin: 0 auto;
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
section.single div.content{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.single div.content div.des-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.content .cat{
    font-size: 1.5rem;
}
div.content .title{
    font-family: "Wittgenstein", serif;
    font-size: 2rem;
}
div.content .price{
    font-size: 2.5rem;
    color: #777;
}
div.content .t-des{
    color: #777;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 25px;
}
div.variations{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.variations .sizes, .colors{
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
    color: #777;
}
div.variations .sizes span{
    border: 1px solid #999;
    padding: 10px 15px;
    border-radius: 10%;
    cursor: pointer;
}
div.variations .colors span{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.count{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.count .total{
    font-size: 2rem;
    color: #777;
    font-weight: bold;
}
.count .controls{
    display: flex;
    gap: 20px;
}
.controls .quantity{
    border: 1px solid #777;
    border-radius: 5%;
}
.quantity button{
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
}
.quantity span{
    padding: 10px 15px;
    font-size: 1.6rem;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
}
.controls .add{
    font-size: 1.6rem;
    padding: 10px 20px;
    border: 1px solid black;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
    letter-spacing: 2px;
    border-radius: 5%;
}
section.single div.img{
    width: 48%;
    overflow: hidden;
}
section.single div img{
    width: 100%;
    
}
section.des{
    width: 75%;
    margin: 50px auto;
}
section.des h1{
    font-size: 2rem;
    font-family: "Wittgenstein", serif;
    margin: 10px 0;
}
section.des p{
    font-size: 1.4rem;
    color: #777;
    letter-spacing: 1px;
    line-height: 2rem;
}





